.avatar {
    height: 50px;
    border-radius: 25px;
    margin: 10px;
}

.tweet {
    max-width: 590px;
    padding: 5px 5px 0px 5px;
    margin: 0 auto;
    border: 1px solid #e9e7e7;
    border-left: none;
    border-right: none;
    border-radius: 1px;
}

.tweet:hover {
    background-color: #f9f7f7;
}

.tweet-info {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

/* Hacky but less typing in the video */
.tweet-info>div>span:first-child {
    font-weight: bold;
    margin-right: 5px;
}

.tweet-info>div>span:nth-child(2) {
    color: #969696;
    font-size: 16px;
}

.tweet-info>div>div {
    color: #969696;
    font-size: 15px;
}

.tweet-info>div>p {
    font-size: 18px;
    margin: 10px 0;
}

.tweet-icons {
    display: flex;
    align-items: center;
}

.tweet-icons>span {
    color: #969696;
    margin: 0 15px 0 5px;
    font-size: 18px !important;
}

.tweet-icon {
    font-size: 27px;
    color: #697784;
}

.tweet-icon:hover {
    color: #00b5d6;
    cursor: pointer;
}

.replying-to {
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    color: #969696;
    cursor: pointer;
}

.heart-button {
    background: transparent;
    border: none;
}

.new-tweet {
    width: 100%;
    max-width: 590px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.textarea {
    border-radius: 4px;
    border: 1px solid #dad7d7;
    padding: 10px;
    font-size: 15px;
    height: 100px;
}

.tweet-length {
    text-align: right;
    margin-top: 10px;
    font-size: 20px;
    color: #c3392a;
}

.tweet-button {
    display: inline-block;
    border: none;
    margin: 0 auto;
    text-align: left;
    padding: 0;
    line-height: 23px;
    vertical-align: middle;
    height: 23px;
}

.tweet-button>span {
    font-size: 15px;
    margin-left: 5px;
    margin-top: -5px;
    line-height: 23px;
}