#userbar {
    padding: 7px 10px;
    margin-top: 60px;
    border-radius: 40px;
    cursor: pointer;
    background-color: rgb(245, 245, 245);
}

#userbar:hover {
    background-color: rgb(235, 235, 235);
    /* color: rgb(131, 175, 155); */
    transition: color 100ms ease-out;
}

.userinfo {
    margin-top: 5px;
    margin-left: -20px;
}

.pmargin {
    margin-bottom: -3px;
}

.userid {
    margin: 0px;
    font-size: small;
    font-weight: lighter;
    margin-top: -4px;
}

.extshow {
    margin-top: 6px;
    margin-right: -40px;
    font-size: larger;
    font-weight: bold;
}

.usermenutop {
    height: auto;
    min-width: 250px;
}

.usermenup {
    border-bottom: 1px solid #e6e7e7;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.mcheck {
    color: rgb(131, 175, 155);
    padding-top: 10px;
}

.mname {
    min-width: 200px;
    padding-right: 5px;
    display: inline-block;
}

.mcross {
    color: red;
}

.mitem {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: normal;
    width: 100%;
}

.keytxt1 {
    font-size: 12px;
    font-weight: 100;
    width: 300px;
    height: 60px;
}

.keytxt2 {
    font-size: 12px;
    font-weight: 100;
    width: 300px;
    height: 150px;
}

