
.channeleditwnd {
  width: 320px;
  max-width: 320px;
  min-height: 300px;
  max-height: 500px;
}

.channelUnit {
    border: 1px solid #e6e7e7;
    cursor: pointer;
    margin: 5px;
    padding: 2px;
    height: 40px;
    border-radius: 8px;
  }
  
  .channelUnit:hover {
    background-color: #e6e7e7;
  }
  
  .channelImg {
    width: 32px;
    border-radius: 50%;
  }

.editlistbutton {
  height: 36px;
  width: 90px;
  padding: 0 0px;
  line-height: 32px;
  font-weight: 600;
  color: #000;
  text-transform: none;
  padding: 0px 0px;
  border-radius: 28px;
  border: 1px solid #c0c0c0;
  margin-right: -50px;
  font-size: 17px;
}

.editlistbutton:hover {
    border: none;
    background-color: #e6e7e7;
}

.managemember {
  height: 30px;
  line-height: 28px;
  cursor: pointer;
  margin-top: -10px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-top: 2px;
}

.managemember:hover {
  background-color: #e6e7e7;
}

.channeltab {
  text-align: center;
  font-weight: 400;
  cursor: pointer;
  height: 40px;
  line-height: 36px;
  font-size: 19px;
  vertical-align: middle;
  margin-bottom: 10px;
}

.channeltab:hover {
  background-color: #e6e7e7;
}

.seltab {
  width: 100%;
  font-weight: 600;
  border-bottom: 3px solid skyblue;
}

.cetable {
  width: 100%;
  font-size: 15px;
  margin-left: -10px;
  line-height: 20px;
}

.cetable>tr {
  width: 100%;
}

.cetable>tr>td {
  border-style: none;
  padding: 5px 5px;
}