.canv {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.newpostdiv {
    text-align: right;
    margin-bottom: 20px;
    margin-left: 10px;
}

#newpostbutton {
    width: 30%;
    max-width: 100px;
    height: 42px;
    background-color: rgb(131, 175, 155);
    font-size: 16px;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    text-transform: inherit;
}

.clickbody {
    cursor: pointer;
    font-size: 15px;
    line-height: 20px;
    margin-right: 5px;
    overflow-wrap: break-word;
}

.clickbodybold {
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    margin-right: 5px;
    font-weight: bold;
    overflow-wrap: break-word;
}

.replytxt {
    width: 100%;
}

.contentinreply {
    font-size: 15px;
    max-width: 100%;
    overflow-wrap: break-word;
}

.replylead {
    font-size: 13px;
}

.nounderline {
    text-decoration: none;
    vertical-align: middle;
    vertical-align: top;
}

.nounderlineblue {
    text-decoration: none;
    color: cornflowerblue;
}